@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins;
  text-decoration: none;
}

body {
  background: #091836;
}

.pricing-table {
  background: #091836;
  width: 100%;
}

.pricing-table .align-pricing-table {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .pricing-table .align-pricing-table {
    width: 1024px;
  }
}

@media screen and (min-width: 1200px) {
  .pricing-table .align-pricing-table {
    width: 1200px;
  }
}

@media screen and (min-width: 1400px) {
  .pricing-table .align-pricing-table {
    width: 1366px;
  }
}

.pricing-table .align-pricing-table .pricing-table-title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}

.pricing-table .align-pricing-table .pricing-table-title h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .pricing-table .align-pricing-table .pricing-table-title h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .pricing-table .align-pricing-table .pricing-table-title h1 {
    font-size: 36px;
  }
}

.pricing-table .align-pricing-table .pricing-table-title p {
  text-align: center;
  font-size: 11px;
  width: 79vw;
  font-weight: 300;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .pricing-table .align-pricing-table .pricing-table-title p {
    font-size: 12px;
    width: 650px;
  }
}

@media screen and (min-width: 1024px) {
  .pricing-table .align-pricing-table .pricing-table-title p {
    font-size: 14px;
    width: 700px;
  }
}

.pricing-table .align-pricing-table .switch-pricing {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-table .align-pricing-table .switch-pricing .switch {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 60px;
  height: 30px;
  display: inline-block;
  background: #11F3FB;
  border-radius: 100px;
  margin: 0 20px;
  position: relative;
  padding: 0 4px;
}

.pricing-table .align-pricing-table .switch-pricing .switch::before {
  content: "";
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  background: white;
  border-radius: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(4px, -50%);
          transform: translate(4px, -50%);
}

.pricing-table .align-pricing-table .switch-pricing .switch.active::before {
  left: 36px;
  -webkit-transform: translate(-4px, -50%);
  transform: translate(-4px, -50%);
}

.pricing-table .align-pricing-table .switch-pricing .switch-txt {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .pricing-table .align-pricing-table .switch-pricing .switch-txt {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .pricing-table .align-pricing-table .switch-pricing .switch-txt {
    font-size: 16px;
  }
}

.pricing-table .align-pricing-table .table-container {
  padding: 80px 30px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  white-space: nowrap;
  overflow-x: auto;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}

.pricing-table .align-pricing-table .table-container .example::-webkit-scrollbar {
  display: none;
}

.pricing-table .align-pricing-table .table-container .example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.pricing-table .align-pricing-table .table-container .table {
  width: 230px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 35px;
  color: white;
  border-radius: 10px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  margin-right: 30px;
}

@media screen and (min-width: 1024px) {
  .pricing-table .align-pricing-table .table-container .table {
    margin: 0;
    padding: 30px 0;
  }
}

@media screen and (min-width: 1200px) {
  .pricing-table .align-pricing-table .table-container .table {
    width: 280px;
  }
}

@media screen and (min-width: 1400px) {
  .pricing-table .align-pricing-table .table-container .table {
    width: 300px;
  }
}

.pricing-table .align-pricing-table .table-container .table .table-title {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .pricing-table .align-pricing-table .table-container .table .table-title {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .pricing-table .align-pricing-table .table-container .table .table-title {
    font-size: 24px;
  }
}

.pricing-table .align-pricing-table .table-container .table .table-price {
  font-size: 32px;
  color: #11F3FB;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

@media screen and (min-width: 768px) {
  .pricing-table .align-pricing-table .table-container .table .table-price {
    font-size: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .pricing-table .align-pricing-table .table-container .table .table-price {
    font-size: 48px;
  }
}

.pricing-table .align-pricing-table .table-container .table .changable-price-txt {
  margin-top: -10px;
  font-size: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .pricing-table .align-pricing-table .table-container .table .changable-price-txt {
    margin-top: -6px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .pricing-table .align-pricing-table .table-container .table .changable-price-txt {
    margin-top: -15px;
  }
}

.pricing-table .align-pricing-table .table-container .table .table-info {
  margin: 10px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}

@media screen and (min-width: 1200px) {
  .pricing-table .align-pricing-table .table-container .table .table-info {
    margin: 20px 0 30px;
  }
}

.pricing-table .align-pricing-table .table-container .table .table-info .info-line {
  padding: 9px 0;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .pricing-table .align-pricing-table .table-container .table .table-info .info-line {
    padding: 11px 0;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .pricing-table .align-pricing-table .table-container .table .table-info .info-line {
    padding: 15px 0;
    font-size: 16px;
  }
}

.pricing-table .align-pricing-table .table-container .table .table-info .info-line.not-active {
  color: #aaa;
}

.pricing-table .align-pricing-table .table-container .table .table-info .info-line.info-line-sprt {
  position: relative;
}

.pricing-table .align-pricing-table .table-container .table .table-info .info-line.info-line-sprt:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
  height: 1px;
  background: #244076;
}

@media screen and (min-width: 768px) {
  .pricing-table .align-pricing-table .table-container .table .table-info .info-line.info-line-sprt:before {
    width: 90px;
  }
}

.pricing-table .align-pricing-table .table-container .table .ctc-box .ctc-bttn {
  background: #fd2b5c;
  background: -webkit-gradient(linear, left top, right top, from(#fd2b5c), to(#fb9511));
  background: linear-gradient(90deg, #fd2b5c 0%, #fb9511 100%);
  color: white;
  padding: 12.5px 45px;
  border-radius: 100px;
  display: inline-block;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .pricing-table .align-pricing-table .table-container .table .ctc-box .ctc-bttn {
    padding: 13.5px 57px;
  }
}

.pricing-table .align-pricing-table .table-container .table.selected {
  background: #fd2b5c;
  background: linear-gradient(9deg, #fd2b5c 0%, #fb881a 42%, #fb9511 99%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.pricing-table .align-pricing-table .table-container .table.selected .table-price {
  color: #121212;
}

.pricing-table .align-pricing-table .table-container .table.selected .table-info .info-line-sprt:before {
  background: white;
}

.pricing-table .align-pricing-table .table-container .table.selected .ctc-box .ctc-bttn {
  background: #121212;
}
/*# sourceMappingURL=style.css.map */